In [7]:
data=[["milk",'bread','rice','book'],
     ['bread','jam','book','pen'],
     ['jam','milk','bread','rice','eggs'],
     ['rice','eggs','pen','book'],
      ['eggs','pen','milk','bread','jam'],
      ['eggs','rice','bread','jam']]

In [8]:
#!pip install mlxtend

In [9]:
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
te_array=te.fit_transform(data)

In [10]:
import pandas as pd
df=pd.DataFrame(te_array,columns=te.columns_)
df

    book  bread   eggs    jam   milk    pen   rice
0   True   True  False  False   True  False   True
1   True   True  False   True  False   True  False
2  False   True   True   True   True  False   True
3   True  False   True  False  False   True   True
4  False   True   True   True   True   True  False
5  False   True   True   True  False  False   True

In [23]:
from mlxtend.frequent_patterns import apriori
itemset=apriori(df,min_support=0.2,use_colnames=True)
itemset

     support                  itemsets
0   0.500000                    (book)
1   0.833333                   (bread)
2   0.666667                    (eggs)
3   0.666667                     (jam)
4   0.500000                    (milk)
5   0.500000                     (pen)
6   0.666667                    (rice)
7   0.333333             (bread, book)
8   0.333333               (book, pen)
9   0.333333              (rice, book)
10  0.500000             (bread, eggs)
11  0.666667              (bread, jam)
12  0.500000             (bread, milk)
13  0.333333              (bread, pen)
14  0.500000             (bread, rice)
15  0.500000               (jam, eggs)
16  0.333333              (milk, eggs)
17  0.333333               (pen, eggs)
18  0.500000              (rice, eggs)
19  0.333333               (jam, milk)
20  0.333333                (jam, pen)
21  0.333333               (jam, rice)
22  0.333333              (milk, rice)
23  0.500000        (bread, eggs, jam)
24  0.333333       (bread, milk, eggs)
25  0.333333       (bread, rice, eggs)
26  0.333333        (bread, milk, jam)
27  0.333333         (bread, pen, jam)
28  0.333333        (bread, rice, jam)
29  0.333333       (bread, rice, milk)
30  0.333333         (jam, milk, eggs)
31  0.333333         (jam, rice, eggs)
32  0.333333  (bread, milk, eggs, jam)
33  0.333333  (bread, rice, eggs, jam)

In [17]:
from mlxtend.frequent_patterns import association_rules
res=association_rules(itemset,metric='confidence',min_threshold=0.6)
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(bread),(jam),0.833333,0.666667,0.666667,0.8,1.2,0.111111,1.666667,1.0
1,(jam),(bread),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf,0.5

In [20]:
result=res[['antecedents','consequents','support','confidence','lift']]

In [21]:
result

  antecedents consequents   support  confidence  lift
0     (bread)       (jam)  0.666667         0.8   1.2
1       (jam)     (bread)  0.666667         1.0   1.2